<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.analysys.douban.mapper.MusicMapper">
  <select id="selectTop50" resultType="cn.analysys.douban.pojo.Music">
    SELECT * FROM music ORDER BY essay_count+review_count DESC 	LIMIT 50
  </select>

  <select id="selectById" resultType="cn.analysys.douban.pojo.Music" parameterType="Integer">
    select * from music where id = #{v }
  </select>
  <select id="selectEssay" resultType="cn.analysys.douban.pojo.MusicEssay" parameterType="Integer">
    select * from music_essay where id = #{value }
  </select>

    <select id="selectTop10" resultType="cn.analysys.douban.pojo.MusicReview">
    select * from music_review where song_id = #{value1} limit 10
  </select>
</mapper>